body {
  font-family: sans-serif; }

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

h1,
h2,
h3 {
  color: #182135; }

button {
  border: none;
  border-radius: 0.94rem;
  transition: all 0.5s;
  padding: 0.25rem 0.5rem; }
  button:hover {
    transform: translateY(-3px);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5); }
  button:focus {
    outline: none; }

a {
  background-color: rgba(80, 62, 157, 0.1);
  color: #503e9d;
  padding: 0.4rem 0.8rem;
  border-radius: 8px;
  font-weight: 600;
  font-size: 1rem;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  height: auto;
  margin-bottom: 5px;
  width: fit-content;
  transition: all 0.3s; }
  a:hover {
    background-color: rgba(80, 62, 157, 0.3); }

.sidebar {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 19rem;
  padding: 1rem;
  background-color: #eeeeee;
  border-radius: 0 25px 25px 0;
  z-index: 10;
  box-shadow: 5px 1px 10px rgba(0, 0, 0, 0.3); }

.main-content {
  width: calc(100vw - 336px);
  margin-left: 290px;
  height: 100vh;
  background-color: #f8f8f8;
  padding: 16px 32px;
  position: relative; }

.heading {
  width: 100%; }

.heading-top {
  display: flex;
  color: #182135;
  font-size: 25px; }

.see-all {
  margin-left: auto;
  margin-bottom: auto;
  padding: 0.5rem 1rem;
  font-weight: 300;
  font-size: 16px;
  color: #503e9d;
  background-color: transparent; }

.logo {
  position: fixed;
  top: 33px;
  left: 59px;
  z-index: 200;
  padding: 5px 10px;
  width: fit-content;
  background-color: #000;
  display: flex;
  transform: skewX(-15deg);
  overflow: hidden;
  text-align: center; }
  .logo-text {
    font-weight: 800;
    font-size: 29px;
    color: #fff;
    transform: skewX(15deg);
    text-transform: uppercase;
    background-color: transparent; }
  .logo-img {
    background-color: transparent;
    height: 46px;
    width: 56px;
    margin-left: 120px;
    transform: skewX(1deg); }

.sidebar-list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 76px;
  background-color: transparent; }

.sidebar-nav {
  background-color: transparent;
  list-style: none;
  width: 100%; }

.sidebar-link {
  padding: 0;
  background-color: #503e9d;
  text-align: left; }

.sidebar-img {
  transform: translateY(25%);
  padding: 0 1rem;
  background-color: transparent;
  color: black; }

.sidebar-items {
  background-color: transparent;
  padding: 0.5rem;
  border-radius: 1rem;
  color: #182135;
  transition: all 0.3s;
  font-size: 1rem;
  font-weight: 400; }
  .sidebar-items-logout {
    margin-top: 55px;
    background-color: transparent;
    padding: 0.5rem;
    border-radius: 1rem;
    color: #182135;
    transition: all 0.3s;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 5px; }
    .sidebar-items-logout:hover, .sidebar-items-logout:focus {
      color: #503e9d;
      font-weight: 600;
      background-color: rgba(80, 62, 157, 0.3);
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); }
  .sidebar-items:hover, .sidebar-items:focus {
    color: #503e9d;
    font-weight: 600;
    background-color: rgba(80, 62, 157, 0.3);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); }

.sidebar-line {
  width: 100%;
  height: 2px;
  background-color: rgba(192, 192, 192, 0.5);
  border-radius: 4px; }

.promotion-card-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 32px;
  border-radius: 15px;
  background-color: #fff;
  position: relative;
  top: 34px;
  z-index: 303;
  box-shadow: 5px 10px 30px rgba(0, 0, 0, 0.1); }

.promotion-card-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 32px;
  border-radius: 15px;
  background-color: #fff;
  position: relative;
  transform: scale(0.93);
  top: -292px;
  z-index: 302;
  box-shadow: 5px 10px 30px rgba(0, 0, 0, 0.1); }

.promotion-card-3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 32px;
  border-radius: 15px;
  background-color: #fff;
  position: relative;
  transform: scale(0.88);
  top: -622px;
  z-index: 301;
  box-shadow: 5px 10px 30px rgba(0, 0, 0, 0.1); }

.cross-line:before {
  width: 10px;
  height: 2px;
  background-color: black;
  transform: rotate(45deg); }

.cross {
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -15px;
  left: 125px;
  padding: 0; }
  .cross:hover {
    background-color: transparent; }

.cross-line {
  width: 20px;
  height: 2px;
  transform: rotate(45deg);
  background-color: black; }

.cross-line-2 {
  width: 20px;
  height: 2px;
  transform: rotate(-45deg) translate(-14px, -14px);
  background-color: black; }

.promo-img {
  background-color: #fff;
  width: 40%;
  margin-bottom: 24px;
  border-radius: 15px; }

.promo-content {
  background-color: #fff;
  color: #626264;
  margin-bottom: 32px; }

.promo-title {
  background-color: #fff;
  margin-bottom: 7px; }
  .promo-titlespan {
    background-color: #fff;
    color: #fb6d3a; }

.promo-p {
  background-color: #fff; }

.promo-btn {
  padding: 16px;
  background-color: #503e9d;
  border-radius: 15px;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  text-align: center; }

.header {
  width: 100%;
  margin-bottom: 31px;
  display: flex;
  margin-left: 14px; }
  .header-button {
    display: flex;
    align-items: center;
    margin-right: 20px;
    font-weight: 600;
    font-size: 14px;
    justify-content: center; }
    .header-button-image {
      transform: translatex(-35%); }
  .header-input {
    margin-left: auto;
    height: 48px;
    width: 385px;
    border: none;
    background-color: #fff;
    border-radius: 15px;
    padding: 0 2rem;
    transition: all 0.5s; }
    .header-input:focus:invalid {
      border-bottom: 3px solid red; }
    .header-input:focus {
      background-color: #fffff5;
      transform: translateY(-3px);
      border-bottom: 3px solid green;
      outline: none;
      font-size: 24px;
      font-weight: 400; }
  .header-input::placeholder {
    font-size: 24px;
    font-weight: 400;
    color: #182135; }

.navigation-checkbox {
  display: none; }

.navigation-button {
  background-color: #503e9d;
  height: 48px;
  width: 48px;
  border-radius: 15px;
  box-shadow: 0 0.8rem 1rem rgba(0, 0, 0, 0.1);
  cursor: pointer;
  text-align: center;
  transition: all 0.5s;
  margin-left: 20px; }

.navigation span {
  margin-right: 1.5rem;
  display: inline-block; }

.navigation-icon {
  position: relative;
  margin-top: 24px; }
  .navigation-icon, .navigation-icon::before, .navigation-icon::after {
    width: 25px;
    height: 3px;
    background-color: white;
    display: inline-block; }
  .navigation-icon::before, .navigation-icon::after {
    content: '';
    position: absolute;
    left: 0;
    transition: all 0.4s; }
  .navigation-icon::before {
    top: -0.5rem; }
  .navigation-icon::after {
    top: 0.5rem; }

.navigation-button:hover .navigation-icon::before {
  top: -1.2rem; }

.navigation-button:hover .navigation-icon::after {
  top: 1.2rem; }

.navigation-checkbox:checked + .navigation-button .navigation-icon {
  background-color: transparent; }

.navigation-checkbox:checked + .navigation-button .navigation-icon::before {
  top: 0;
  transform: rotate(135deg); }

.navigation-checkbox:checked + .navigation-button .navigation-icon::after {
  top: 0;
  transform: rotate(-135deg); }

.header-img {
  width: 48px;
  border-radius: 50%;
  margin-left: 16px; }

.explore-channels {
  display: flex;
  flex-direction: row;
  margin-bottom: 31px;
  margin-left: 14px; }

.catergories {
  position: relative;
  display: flex;
  margin-top: 32px;
  margin-right: -32px; }

.card {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 15px;
  padding: 32px 25px 16px 25px;
  margin-right: 32px;
  width: calc(16.66% - 32px);
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 7px 6px rgba(80, 62, 157, 0.23);
  transition: all 0.5s; }
  .card:hover {
    transform: scale(1.08) translateY(-3px);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 4px 14px 16px rgba(80, 62, 157, 0.4); }

.explore-img {
  width: 50%;
  margin-bottom: 27px; }

.headline {
  margin-bottom: 32px;
  margin-left: 14px; }

.headline-items {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  margin-right: -32px; }

.headline-card {
  width: calc(33.3% - 32px);
  margin-right: 32px;
  margin-top: 32px;
  display: flex;
  border-radius: 15px;
  overflow: hidden; }
  .headline-card:hover {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1), 0 5px 10px rgba(0, 0, 0, 0.1); }

.headline-img {
  margin-right: 20px;
  display: flex;
  height: 96px;
  width: 96px;
  border-radius: 15px;
  object-fit: cover; }
  .headline-img:hover {
    transform: scale(1.02); }

.headline-info {
  display: flex;
  flex-direction: column;
  width: 100%; }

.headline-heading {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  padding-top: 5px; }

.headline-likes {
  display: flex;
  flex-direction: row;
  font-weight: 400;
  font-size: 12px;
  color: #878787; }

.like {
  padding-right: 15px;
  display: flex;
  align-items: center; }
  .like-img {
    padding-right: 8px; }

.dislike {
  padding-right: 15px;
  display: flex;
  align-items: center; }
  .dislike-img {
    padding-right: 8px; }

.headline-base {
  display: flex;
  flex-direction: row;
  margin-top: auto; }

.headline-time {
  margin-left: auto;
  margin-top: auto;
  padding: 4px;
  font-size: 12px;
  font-weight: 400;
  color: #878787; }

.news {
  margin-left: 14px; }

.news-2 {
  display: flex;
  position: relative;
  margin-right: -32px; }

.news-container {
  display: flex;
  flex-direction: column;
  margin-right: 32px;
  margin-bottom: 31px;
  width: calc(33.3% - 32px);
  border-radius: 15px;
  overflow: hidden; }

.news-card {
  padding: 0;
  text-decoration: none;
  background-color: transparent; }
  .news-card:hover {
    background-color: transparent; }

.news-img {
  width: 100%;
  height: 176px;
  margin-bottom: 16px;
  border-radius: 15px;
  object-fit: cover; }

.card-title {
  text-decoration: none;
  width: 50%;
  font-weight: 700;
  font-size: 16px;
  color: #182135;
  text-align: left; }

.news-info {
  display: flex; }

.news-3 {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  width: 50%; }

.news-time {
  font-weight: 300;
  color: #9c9b9b; }

.news-links {
  margin-left: auto; }

.news-time {
  margin-left: auto; }
