body {
  font-family: sans-serif; }

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f5f4f4; }

button {
  border: none; }

.sidebar {
  position: fixed;
  height: 100vh;
  width: 304px;
  background-color: white;
  border-radius: 0 25px 25px 0;
  z-index: 10; }

.main-content {
  width: calc(100vw - 304px);
  margin-left: 304px;
  height: 100vh;
  background-color: #f5f4f4;
  padding: 16px 32px;
  position: relative; }

.heading {
  width: 100%; }

.heading-top {
  display: flex;
  color: #182135;
  font-size: 25px; }

.see-all {
  margin-left: auto;
  font-weight: 300;
  font-size: 16px;
  color: #503e9d;
  background-color: transparent; }

.header-img {
  width: 48px;
  border-radius: 50%;
  margin-left: 16px; }

.navigation-checkbox {
  display: none; }

.navigation-button {
  background-color: #6e158a;
  height: 48px;
  width: 48px;
  border-radius: 15px;
  z-index: 202;
  box-shadow: 0 0.8rem 1rem rgba(0, 0, 0, 0.1);
  cursor: pointer;
  text-align: center;
  transition: all 0.5s; }

.navigation-link:link, .navigation-link:visited {
  display: inline-block;
  font-size: 3rem;
  font-weight: 300;
  padding: 1rem 2rem;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, white 50%);
  background-size: 230%;
  transition: all 0.5s;
  flex-direction: row; }
  .navigation-link:link span, .navigation-link:visited span {
    margin-right: 1.5rem;
    display: inline-block; }

.navigation-link:active, .navigation-link:hover {
  transform: scale(1.1) rotate(-3deg) translateX(4rem);
  background-position: 100%;
  color: blue;
  box-shadow: -2rem 1.5rem 2rem rgba(0, 0, 0, 0.6); }

.navigation-checkbox:checked ~ .navigation-background {
  transform: scale(80); }

.navigation-checkbox:checked ~ .navigation-nav {
  width: 100%;
  opacity: 1; }

.navigation-icon {
  position: relative;
  margin-top: 24px; }
  .navigation-icon, .navigation-icon::before, .navigation-icon::after {
    width: 25px;
    height: 3px;
    background-color: white;
    display: inline-block; }
  .navigation-icon::before, .navigation-icon::after {
    content: '';
    position: absolute;
    left: 0;
    transition: all 0.4s; }
  .navigation-icon::before {
    top: -0.5rem; }
  .navigation-icon::after {
    top: 0.5rem; }

.navigation-button:hover .navigation-icon::before {
  top: -1.2rem; }

.navigation-button:hover .navigation-icon::after {
  top: 1.2rem; }

.navigation-checkbox:checked + .navigation-button .navigation-icon {
  background-color: transparent; }

.navigation-checkbox:checked + .navigation-button .navigation-icon::before {
  top: 0;
  transform: rotate(135deg); }

.navigation-checkbox:checked + .navigation-button .navigation-icon::after {
  top: 0;
  transform: rotate(-135deg); }

.header {
  width: 100%;
  margin-bottom: 31px;
  display: flex; }
  .header-button {
    margin-right: 20px; }
  .header-input {
    margin-left: auto;
    height: 48px;
    width: 385px; }
  .header-input::placeholder {
    font-size: 24px;
    font-weight: 400;
    color: blue; }

.explore-channels {
  display: flex;
  flex-direction: row;
  margin-bottom: 32px; }

.catergories {
  position: relative;
  display: flex;
  margin-top: 32px; }

.card {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 15px;
  padding: 32px 25px 16px 25px;
  margin-right: 32px;
  width: calc(16.66% - 32px);
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
  color: black;
  text-decoration: none;
  text-transform: uppercase; }

.explore-img {
  width: 50%;
  margin-bottom: 27px; }

.headline {
  margin-bottom: 32px; }

.headline-items {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  position: relative; }

.headline-info {
  display: flex;
  flex-direction: column; }

.headline-card {
  width: calc(33.3% - 32px);
  margin-right: 32px;
  margin-top: 32px;
  display: flex; }

.headline-heading {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  padding-top: 5px; }

.headline-img {
  margin-right: 20px;
  display: flex;
  height: 96px;
  width: 96px;
  border-radius: 15px; }

.headline-base {
  display: flex;
  flex-direction: row;
  margin-top: auto; }

.headline-time {
  margin-left: auto;
  margin-top: auto; }
