body {
  font-family: sans-serif;
  // background-color: $main-bgc;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(245, 244, 244);
}

button {
  border: none;
  padding: 6px 8px;
  background: grey;
}

// LAYOUT
.sidebar {
  position: fixed;
  height: 100vh;
  width: 304px;
  background-color: rgb(255, 255, 255);
  border-radius: 0 25px 25px 0;
  z-index: 10;
}

.main-content {
  width: calc(100vw - 304px);
  margin-left: 304px;
  height: 100vh;
  background-color: rgb(245, 244, 244);
  padding: 16px 32px;
  position: relative;
}

// COLORS
$heading-primary: #182135;
$main-bgc: rgba(192, 192, 192, 0.5);

// TOP NAV
.header {
  width: 100%;
  margin-bottom: 31px;
  background: rgb(212, 212, 212);
  display: flex;

  &-button {
    margin-right: 20px;
  }

  &-input {
    margin-left: auto;
  }
}

// HEADINGS
.heading {
  width: 100%;
  // margin-bottom: 30px;
  // background-color: $main-bgc;
}

.heading-top {
  display: flex;
  color: $heading-primary;
  font-size: 25px;
}

.see-all {
  margin-left: auto;
  font-weight: 300;
  font-size: 16px;
  color: #503e9d;
  background-color: transparent;
}

// CONTAINERS

// HEADER
.header-img {
  width: 48px;
  border-radius: 50%;
  margin-left: 16px;
}
.right-btn {
  margin-left: 16px;
}

// EXPLORE
// .explore-channels {
//   width: 100%;
//   height: 20px;
//   margin-bottom: 30px;
//   background-color: orange;
//   display: flex;
// }

.explore-channels {
  display: flex;
  flex-direction: row;
  // background-color: rgba(192, 192, 192, 0.5);
  margin-bottom: 32px;
}

.catergories {
  position: relative;
  display: flex;
  margin-top: 32px;
}

.card {
  display: flex;
  flex-direction: column;
  // height: 158px;
  background-color: white;
  border-radius: 15px;
  padding: 32px 25px 16px 25px;
  margin-right: 32px;
  width: calc(16.66% - 32px);
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
  color: black;
  text-decoration: none;
  text-transform: uppercase;
}

.explore-img {
  width: 50%;

  margin-bottom: 27px;
}

// HEADLINES
.headline {
  margin-bottom: 32px;
}

.headline-items {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.headline-info {
  display: flex;
  flex-direction: column;
}

.headline-card {
  width: calc(33.3% - 32px);
  margin-right: 32px;
  margin-top: 32px;

  display: flex;
}

.headline-heading {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  padding-top: 5px;
}

.headline-img {
  margin-right: 20px;
  display: flex;
  height: 96px;
  width: 96px;
  border-radius: 15px;
}

.headline-base {
  display: flex;
  flex-direction: row;
  margin-top: auto;
}

.headline-time {
  margin-left: auto;
  margin-top: auto;
}

// NEWS
