body {
  height: 100vh;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  background-color: rgba(236, 236, 236, 1);
  box-sizing: border-box;
  position: relative;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
}

.navigation-side {
  position: absolute;
  width: 21.1vh;
  height: 1024px;
  left: 0;
  top: 0;
  background: red;
}

.main-page {
  position: absolute;
  width: 78vw;
  height: 1025px;
  left: 107px;
  top: 14px;
  background-color: rgba(217, 255, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 18px 32px 16px 226px;
}
