body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
}

.logos {
  display: flex;
}

.logo {
  position: relative;
  top: 33px;
  left: 59px;
  width: fit-content;
  height: 45.63px;
  z-index: 2000;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  padding: 5px 0 5px 10px;
  transform: skewX(-15deg);
  margin-bottom: 33px;

  &-daily {
    text-transform: uppercase;
    font-size: 28.8px;
    padding: 0 20px;
    transform: skewX(15deg);
    color: white;
    font-weight: 800;
    display: flex;
    align-items: center;
  }

  // &-img {
  //   width: 50px;
  //   background-color: red;
  //   padding: 15px 0 15px 20px;
  // }
}

svg {
  position: absolute;
  color: white;
  background-color: blue;
  width: 63px;
  display: inline-flex;
  align-self: center;
}

.navigation-side {
  position: relative;
  width: 304px;
  height: 1024px;
  left: 0;
  top: 0;
  background: red;
  border-radius: 0 15px 15px 0;
  z-index: 100;
}

.pages {
  position: absolute;
  display: flex;
  flex-direction: column;
  padding-top: 33px;
  left: 16px;
}

.item {
  width: 272px;
  height: 56px;
  border: black 1px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: darkmagenta;
}

.main-page {
  position: relative;
  width: 1333px;
  height: 1025px;
  left: 107px;
  top: -1010px;
  background: rgba(196, 250, 2, 0.8);
}

.navigation-top {
  position: absolute;
  width: 1072px;
  height: 48px;
  right: 32px;
  top: 18px;
  background-color: blue;
}

.explore-channel {
  position: absolute;
  width: 1072px;
  height: 222px;
  right: 32px;
  top: 93px;

  &-title {
    padding-bottom: 32px;
  }
}

.catergories {
  position: absolute;
  display: flex;
  flex-direction: row;
  padding-left: 32px;
  height: 158px;
  right: 0;
}

.cards {
  width: 152px;
  height: 158px;
  margin: 0 16px;
  background-color: rgb(117, 117, 117);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;

  &:nth-child(6) {
    margin-right: 0;
  }
}

.todays-headlines {
  position: absolute;
  width: 1072px;
  height: 288px;
  left: 229px;
  top: 363px;
  padding-bottom: 16px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
  background-color: #2196f3;
  padding: 32px 32px 32px 0;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid black;
  text-align: center;
  font-size: 30px;
  width: 336px;
  height: 96px;
}

.featured-news {
  position: absolute;
  width: 1072px;
  height: 310px;
  left: 229px;
  top: 699px;
  background-color: chartreuse;
}

.dishes {
  position: absolute;
  display: flex;
  flex-direction: row;
}

.card {
  width: 336px;
  height: 246px;
  margin: 32px 32px 0 0;
  background-color: crimson;
  display: flex;
  justify-content: center;
  align-items: center;
}

// .main-page {
//   position: absolute;
// width: 1333px;
// height: 1011px;
//   left: 107px;
//   top: 14px;
//   background-color: rgba(217, 255, 0, 0.5);
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
//   padding: 18px 32px 16px 226px;
// }

// .explore-channels {
//   position: absolute;
//   width: 1072px;
//   height: 222px;
//   left: 336px;
//   top: 107px;
//   margin-left: 32px;
// }

// .catergories {
//   display: flex;
//   flex-direction: row;
//   justify-content: baseline;
//   align-items: center;
// }

// .cards {
//   width: 152px;
//   height: 158px;
//   margin: 32px 32px 0 0;
//   background-color: aqua;
// }
